/* Fonts */

@font-face {
	font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), 
       url("../fonts/roboto.woff") format("woff");
	font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), 
       url("../fonts/robotomedium.woff") format("woff");
	font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), 
       url("../fonts/robotobold.woff") format("woff");
	font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --basic-dark: #000000;
  --basic-extra-dark-1: #444444; 
  --basic-extra-dark-2: #666666; 
  --basic-extra-dark-3: #283136;
  --basic-white: #FFFFFF;
  --basic-gray: #EEEEEE;
  --basic-extra-gray-1: #D7DCDE;;   
  --basic-extra-gray-2: #E1E1E1;
  --basic-extra-gray-3: #DFDFDF;
  --basic-extra-gray-4: #D5D5D5;
  --basic-extra-gray-5: #4D4D4D;
  --basic-extra-gray-6: #DBDBDB;
  --basic-red: #FB565A;
  --basic-extra-red-1: #E74246;
  --basic-extra-red-2: #D7373B;  
  --basic-green: #00CA74;
  --basic-extra-green-1: #00BC6C;
  --basic-extra-green-2: #00AA62;  
  --basic-gold: #EFC84A;
  --basic-extra-gold-1: #EAB534;
  --basic-extra-gold-2: #E5A722;   
}

/* Global */

.page {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after { box-sizing: inherit; }

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a { text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: center; 
}

.visibility-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Button */

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
}

/* text-uppercase */

.text-uppercase {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  text-transform: uppercase;
}

/* margin-bottom   */
.margin-bottom {
  margin-bottom: 80px;
}

/* Раздел "Main navigation" */

.background-box {
  background-color: var(--basic-gray);
}

.main-navigation-wrapper {
  background-color: var(--basic-gray);
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 49px;
}

.main-header-logo {
  margin: 0;
  width: 160px;
}

.main-navigation-list {
  list-style: none;
  justify-self: center;
}

.main-navigation-link {
  color: inherit;
}

.user-navigation {
  list-style: none;
  font-style: italic;
  margin: 0;
  min-width: 115px;
  justify-self: end;
}

.user-navigation-link {
  color: inherit;
}

.main-header-logo:hover,
.main-navigation-list a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.main-header-logo:focus,
.main-navigation-list a:focus,
.user-navigation a:focus {
  border-bottom: 2px solid var(--basic-red);
  outline: none; 
  padding: 0 0 12px 0;
}

.main-header-logo:active,
.main-navigation-list a:active,
.user-navigation a:active {
  color: var(--basic-dark);
  opacity: 0.3;
  border: none;
}

.main-header-logo:visited,
.main-navigation-list a:visited,
.user-navigation a:visited {
  border-bottom: 2px solid var(--basic-red);
  outline: none; 
  padding: 0 0 12px 0;
}

/* Раздел "Intro" */

.container-slider {
  color: inherit;
  width: 1160px;
  margin: 0 auto;
}

.index-slider {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.slider-switch {
  outline: 5px solid rgb(6, 241, 171);
  outline-offset: -5px;
  justify-self: center;
}

.slider-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  font: inherit;
  color: var(--basic-extra-dark-3);
}

.slider-link {
  padding: 16px 54px 16px 54px;
  background-color: var(--basic-red);
}

.slider-link:hover {
  background-color: var(--basic-extra-red-1);
}

.slider-link:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3); 
}

/* Раздел "Advantages" */

.advantages-container {
  width: 1160px;
  margin: 0 auto;
}

.advantages-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  min-height: 347px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  text-transform: uppercase;
}

.advantages-text {
  font: inherit;
  color: var(--basic-extra-dark-3);
  max-width: 260px;
}

.advantages-button-red {
  background-color: var(--basic-red);
  padding: 17px 40px 15px 39px;
}

.advantages-button-red:hover { 
  background-color: var(--basic-extra-red-1);
}

.advantages-button-red:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3);
}

.advantages-button-green {
  background-color: var(--basic-green);
  padding: 17px 40px 15px 39px;
}

.advantages-button-green:hover {
  background-color: var(--basic-extra-green-1);
}

.advantages-button-green:active {
  background-color: var(--basic-extra-green-2);
  color: rgba(255,255, 255, 0.3); 
}

.advantages-button-yellow {
  padding: 17px 40px 15px 39px;
  background-color: var(--basic-gold);
}

.advantages-button-yellow:hover {
  background-color: var(--basic-extra-gold-1);
}

.advantages-button-yellow:active {
  background-color: var(--basic-extra-gold-2);
  color: rgba(255,255, 255, 0.3); 
}

/* Раздел "Information" */

.information-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 651px 374px;
  column-gap: 149px;
}

.information-column-left {
  color: var(--basic-extra-dark-3);
}

.information-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark);
  margin: 0;
}

.information-text {
  font: inherit;
}

.information-list-title {
  font-weight: 700;
  text-transform: uppercase;
}

.information-list {
  font: inherit;
  list-style: none;
}

.information-table-title {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.information-table-lead {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.information-table-inner-text {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.information-table-text {
  color: var(--basic-extra-dark-3);
  font-size: 16px;
  line-height: 18px;
}

/* Раздел "Partner" */

.partner-container {
  width: 1160px;
  margin: 0 auto;
}

.partner-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  text-align: center;
}

.partner-link {
  opacity: 0.3;
}

.partner-link:hover {
  opacity: 1;
}

.partner-link:active {
  opacity: 0.3;
}

/* footer */

.footer-map-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.footer-map {
  width: 1440px;
  height: 416px;
  background: url(/img/map.jpg);
  background-color: var(--basic-gray);
}

/* ВРЕМЕННО ЗАКОММЕНТИЛ ДЛЯ СЕТКИ */
/* .footer-contact {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  text-align: center;
} */

.footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-text, .footer-phone {
  line-height: 18px;
  color: var(--basic-extra-dark-2);
}

.footer-button {
  padding: 17px 44px 15px 44px;
  background-color: var(--basic-red);
}

.footer-button:hover {
  background-color: var(--basic-extra-red-1);
}

.footer-button:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3); 
}

/* social section */

.footer-container-social {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 261px 1fr;
}

.footer-social-list {
  list-style: none;
  background-color: var(--basic-gray);
}

.social-link:hover, .social-link:focus {
  background-color: var(--basic-extra-red-1);
}

.social-link:active {
  background-color: var(--basic-extra-red-2);
}

.social-link-img:active {
  opacity: 0.3;
}

.social-text-block {
  justify-self: center;
}

.social-text-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-text {
  line-height: 22px;
  color: var(--basic-extra-dark-1);
}

/* Popup */

.popup {
  width: 960px;
  height: 590px;
  border: 2px solid var(--basic-extra-gray-1);
}

.popup-description {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.popup-form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.popup-form-field {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-extra-gray-1);
}

.popup-form-textarea {
  width: 760px;
  height: 118px;
  border: 2px solid var(--basic-extra-gray-1);
}

.popup-button-send {
  padding: 17px 83px 18px 83px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popup-button-send:hover,
.popup-button-send:focus {
  background-color: var(--basic-extra-red-1);
}

.popup-button-send:active {
  background-color: var(--basic-extra-red-2);
}

.button-popup-close {
  border: none;
  background-color: var(--basic-white);
  /* Я не знаю как заменить эффекты кнопке "Закрыть" */
}


/* Магазин готовых шаблонов - catalog.html */

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
}

.form-legend {
  padding: 0;
  border: none;
  color: var(--basic-extra-dark-3);
}

.box-range-controls {
  padding: 36px 0;
  background-color: var(--basic-gray);
  border-radius: 3px;
  text-align: center;
}

.min-price, .max-price {
  line-height: 22px;
  text-transform: uppercase;
  color: inherit;
}

.price-input {
  width: 80px;
  height: 38px;
  background-color: var(--basic-gray);
  border: none;
  border-radius: 3px;
  text-align: center;
}

.form-field-list {
  list-style: none;
  line-height: 19px;
  color: inherit;
}

.form-submit-button {
  padding: 17px 89px 15px 88px;
  color: var(--basic-dark);
}

.form-submit-button:hover {
  background-color: var(--basic-extra-gray-3);
}

.form-submit-button:active {
  background-color: var(--basic-extra-gray-4);
  color: rgba(0, 0, 0, 0.3); 
}

.sorting-list {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-text {
  color: var(--basic-dark);
  opacity: 0.3;
}

.sorting-text:hover {
  opacity: 0.6;
}

.sorting-text:active, .sorting-text:focus {
  opacity: 1;
}

.products-list {
  list-style: none;
}

.product-line-img {
  opacity: 0.1;
}

.product-line-img:hover, .product-line-img:active, .product-line-img:focus  {
  opacity: 1;
}

.product-content {
  width: 360px;
  height: 231px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
  text-align: center;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.product-title:hover {
  color: var(--basic-red);
}

.product-title:active {
  color: rgba(0, 0, 0, 0.3); 
}

.product-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark-2);
}

.product-button {
  padding: 17px 72px 15px 72px;
  background-color: var(--basic-red);
}

.product-button:hover {
  background-color: var(--basic-extra-red-1);
}

.product-button:active {
  background-color: var(--basic-extra-red-2);
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  padding: 15px; 
  /* Временно поставил, чтобы видеть кнопки */
}

.pagination-link {
  padding: 17px 20px 15px 20px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
} 

.pagination-link:hover, .pagination-link:focus {
  background-color: var(--basic-extra-gray-3);
}

.pagination-link:active {
  background-color: var(--basic-extra-gray-4);
  color: rgba(0, 0, 0, 0.3); 
}

.pagination-link-next {
  padding: 17px 77px 15px 78px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
}

.pagination-link-next:hover {
  background-color: var(--basic-extra-gray-3);
}

.pagination-link-next:active {
  background-color: var(--basic-extra-gray-4);
  color: rgba(0, 0, 0, 0.3); 
}