/* Fonts */

@font-face {
	font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), 
       url("../fonts/roboto.woff") format("woff");
	font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), 
       url("../fonts/robotomedium.woff") format("woff");
	font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), 
       url("../fonts/robotobold.woff") format("woff");
	font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --basic-dark: #000000;
  --basic-extra-dark-1: #444444; 
  --basic-extra-dark-2: #666666; 
  --basic-extra-dark-3: #283136;
  --basic-white: #FFFFFF;
  --basic-gray: #EEEEEE;
  --basic-extra-gray-1: #D7DCDE;;   
  --basic-extra-gray-2: #E1E1E1;
  --basic-extra-gray-3: #DFDFDF;
  --basic-extra-gray-4: #D5D5D5;
  --basic-extra-gray-5: #4D4D4D;
  --basic-extra-gray-6: #DBDBDB;
  --basic-red: #FB565A;
  --basic-extra-red-1: #E74246;
  --basic-extra-red-2: #D7373B;  
  --basic-green: #00CA74;
  --basic-extra-green-1: #00BC6C;
  --basic-extra-green-2: #00AA62;  
  --basic-gold: #EFC84A;
  --basic-extra-gold-1: #EAB534;
  --basic-extra-gold-2: #E5A722;   
}

/* Global */

.page {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after { box-sizing: inherit; }

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a { text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: center; 
}

.visibility-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* Button */

.button {
  min-width: 160px;
  min-height: 50px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-gray);
  border: none;
  border-radius: 3px;
  display: inline-flex;  
  justify-content: center;
  align-items: center;
  padding: 10px;
}


/* text-uppercase */

.text-uppercase {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.center {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  background-color: var(--basic-gray);
}


/* Раздел "Main navigation" */

.main-header {
  min-width: 1160px;
  background-color: var(--basic-gray);
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase; 
  display: grid;
  grid-template-columns: 160px 1fr auto;
  gap: 20px;
  padding: 49px 0 0 0;
}

.main-header-logo {
  min-width: 160px;
}

.main-navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-navigation-list li {
  margin: 0 45px 0 0;
}

.main-navigation-list li:last-child {
  margin: 0;
}

.main-navigation-link {
  color: inherit;
  padding: 0;
  margin: 0;
}

.user-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-navigation-link {
  color: inherit;
}

.main-header-logo:hover,
.main-navigation-list a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.main-header-logo:focus,
.main-navigation-list a:focus,
.user-navigation a:focus {
  border-bottom: 2px solid var(--basic-red);
  outline: none; 
  padding: 0 0 12px 0;
}

.main-header-logo:active,
.main-navigation-list a:active,
.user-navigation a:active {
  color: var(--basic-dark);
  opacity: 0.3;
  border: none;
}

.main-header-logo:visited,
.main-navigation-list a:visited,
.user-navigation a:visited {
  border-bottom: 2px solid var(--basic-red);
  outline: none; 
  padding: 0 0 12px 0;
}


/* Раздел "Presentation" */

.container-slider {
  color: inherit;
  background-color: var(--basic-gray);
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.slider-inner {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
  width: 538px;
}

.slide-1 {
  background-color: inherit;
  display: block;
}

/* .slide-2 {
  background-color: #bc6400;
  display: block;
}

.slide-3 {
  background-color: #bc005e;
  display: block;
} */

.slider-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 78px 0 25px 0;
  padding: 0;
}

.slider-text {
  font: inherit;
  color: var(--basic-extra-dark-3);
  margin: 0 0 38px 0;
  padding: 0;
}

.slider-link {
  background-color: var(--basic-red);
  width: 240px;
  margin: 0 0 80px 0;
}

.slider-img {
  width: 760px;
  height: 431px;
  grid-column: 2/4;
  grid-row: 1/2;
}

.slider-link:hover {
  background-color: var(--basic-extra-red-1);
}

.slider-link:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3); 
}

.slider-switch {
  text-align: center;
}


/* Раздел "Services" */

.services {
  padding: 80px 0;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 347px;
  margin: 0;
  padding: 0;
}

.services-img {
  margin: 0 0 25px 0;
  padding: 0;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  text-transform: uppercase;
  margin: 0 0 16px 0;
  padding: 0;
}

.services-text {
  font: inherit;
  color: var(--basic-extra-dark-3);
  max-width: 260px;
  margin: 0 0 32px 0;
  padding: 0;
}

.services-button-red {
  background-color: var(--basic-red);
}

.services-button-red:hover { 
  background-color: var(--basic-extra-red-1);
}

.services-button-red:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3);
}

.services-button-green {
  background-color: var(--basic-green);
}

.services-button-green:hover {
  background-color: var(--basic-extra-green-1);
}

.services-button-green:active {
  background-color: var(--basic-extra-green-2);
  color: rgba(255,255, 255, 0.3); 
}

.services-button-yellow {
  background-color: var(--basic-gold);
}

.services-button-yellow:hover {
  background-color: var(--basic-extra-gold-1);
}

.services-button-yellow:active {
  background-color: var(--basic-extra-gold-2);
  color: rgba(255,255, 255, 0.3); 
}


/* Раздел "Information" */

.information {
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
  padding: 39px 0 73px 0;
  margin: 0;
}

.information-container {
  display: grid;
  grid-template-columns: 651px 374px;
  column-gap: 149px;
}

.information-column-left {
  color: var(--basic-extra-dark-3);
}

.information-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark);
  margin: 34px 0 32px 0;
}

.information-text {
  font: inherit;
  margin: 0 0 40px 0;
  padding: 0;
}

.information-text-list {
  list-style: none;
  font: inherit;
  margin: 0;
  padding: 0;
}

.information-text-list li {
  margin: 0 0 30px 0;
}

.information-text-list li:last-child {
  margin: 0;
}

.information-list-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 23px 0;
  padding: 0;
}

.information-img {
  margin: 0 0 37px 0;
  padding: 0;
}

.information-table-title {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-dark);
  margin: 0 0 31px 0;
  padding: 0;
}

.information-table-lead {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.information-table-lead td {
  padding: 0 22px 10px 0;
}

.information-table-inner-text {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.information-table-text {
  color: var(--basic-extra-dark-3);
  font-size: 16px;
  line-height: 18px;
}


/* Раздел "Partner" */

.partner {
  border-bottom: 2px solid var(--basic-gray);
  padding: 46px 0 44px 0;
}

.partner-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.partner-link {
  opacity: 0.3;
}

.partner-link:hover {
  opacity: 1;
}

.partner-link:active {
  opacity: 0.3;
}


/* footer */

.footer-information {
  min-height: 416px;
  background: url(/img/map.jpg);
  background-size: cover;
  background-color: var(--basic-gray);
  margin-bottom: 68px;
}

.footer-contact {
  width: 320px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  text-align: center;
  padding: 39px;  /* временный */
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-text, .footer-phone {
  line-height: 18px;
  color: var(--basic-extra-dark-2);
}

.footer-button {
  width: 220px;
  background-color: var(--basic-red);
}

.footer-button:hover {
  background-color: var(--basic-extra-red-1);
}

.footer-button:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3); 
}


/* social section */

.footer-container {
  display: flex;
  /* display: grid;
  grid-template-columns: 261px 1fr;
  margin-bottom: 68px; */
}

.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0 139px 0 0;
  padding: 0;
}

.social-link {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-gray);
  margin: 0 9px 0 0;
}

.social-link:last-child {
  margin: 0;
}

.social-link:hover, .social-link:focus {
  background-color: var(--basic-extra-red-1);
}

.social-link:active {
  background-color: var(--basic-extra-red-2);
}

.social-link-img:active {
  opacity: 0.3;
}

.social-text-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 10px 0;
}

.social-text {
  line-height: 22px;
  color: var(--basic-extra-dark-1);
  margin: 0 0 10px 0;
}


/* Popup */

.popup {
  width: 960px;
  margin: 0 auto;
  border: 2px solid var(--basic-extra-gray-1);
  margin-top: 40px; /* Временный отступ */
}

.popup-container {
  margin: 0; 
  padding: 63px 90px 84px 100px;
}

.popup-description {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  grid-column: 1/3;
  margin: 0 0 37px 0;
}

.popup-form-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; /* Обратить внимание, внизу отступ 34px */
}

.popup-name-item {
  width: 100%;
  grid-column: 1/2;
}

.popup-email-item {
  width: 100%;
  grid-column: 2/3;
}

.popup-textarea-item {
  grid-column: 1/3;
}

.popup-form-textarea {
  width: 100%;
  resize: none;
  border: 2px solid var(--basic-extra-gray-1);
  margin: 0 0 47px 0;
}

.popup-form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.popup-form-field {
  min-width: 360px;
  height: 50px;
  border: 2px solid var(--basic-extra-gray-1);
  padding: 0 10px;
}

.popup-button-send {
  padding: 17px 83px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popup-button-send:hover,
.popup-button-send:focus {
  background-color: var(--basic-extra-red-1);
}

.popup-button-send:active {
  background-color: var(--basic-extra-red-2);
  color: rgba(255,255, 255, 0.3); 
}

.button-popup-close {
  border: none;
  background-color: var(--basic-white);
}


/* Магазин готовых шаблонов - catalog.html */

.main-catalog {
  margin-bottom: 60px;
}

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  padding: 87px 0 108px 0;
}

.container-page {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
}


/* Раздел "Фильтр товаров" */

.form-section {
  outline: 5px solid rgba(0, 255, 200, 0.7);
  outline-offset: -5px;
}

.form-fieldset {
  padding: 0;
  border: none;
  color: var(--basic-extra-dark-3);
}

.box-range-controls {
  margin-top: 48px;
  margin-bottom: 22px;
  padding: 36px 0;
  background-color: var(--basic-gray);
  border-radius: 3px;
  text-align: center;
}

.price-controls {
  margin-bottom: 54px;
}

.min-price, .max-price {
  line-height: 22px;
  text-transform: uppercase;
  color: inherit;
}

.price-input {
  width: 80px;
  height: 38px;
  background-color: var(--basic-gray);
  border: none;
  border-radius: 3px;
  text-align: center;
}

.form-field-list {
  list-style: none;
  line-height: 19px;
  color: inherit;
}

.form-submit-button {
  width: 100%;
  margin-top: 48px;
  color: var(--basic-dark);
}

.form-submit-button:hover {
  background-color: var(--basic-extra-gray-3);
}

.form-submit-button:active {
  background-color: var(--basic-extra-gray-4);
  color: rgba(0, 0, 0, 0.3); 
}


/* Раздел "Каталог" */

.sorting-container {
  display: grid;
  grid-template-columns: 134px 1fr auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 48px;
  outline: 5px solid rgba(206, 173, 25, 0.7);
  outline-offset: -5px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 47px 0 0;
  padding: 0;
}

.sorting-text {
  margin: 0 25px 0 0;
}

.sorting-text:last-child {
  margin: 0;
}

.sorting-text a{
  color: var(--basic-dark);
  opacity: 0.3;
}

.sorting-text:hover {
  opacity: 0.6;
}

.sorting-text:active, .sorting-text:focus {
  opacity: 1;
}


/* Карточки товаров */

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
  list-style: none;
  margin: 0 0 55px 0;
  padding: 0;
  outline: 5px solid rgba(25, 206, 79, 0.7);
  outline-offset: -5px;
}

.product-item {
  width: 360px;
  margin: 0;
}

.product-line-img {
  opacity: 0.1;
  margin: 0;
  padding: 0;
}

.product-line-img:hover, .product-line-img:active, .product-line-img:focus  {
  opacity: 1;
}


/* Окно с ссылкой на покупку товар */
.product-content {
  width: 360px;
  height: 231px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
  text-align: center;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 26px 0 12px 0;
}

.product-text {
  margin: 0;
  padding: 0 0 49px 0;
}

.product-title:hover {
  color: var(--basic-red);
}

.product-title:active {
  color: rgba(0, 0, 0, 0.3); 
}

.product-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark-2);
}

.product-button {
  padding: 17px 72px 15px 72px;
  background-color: var(--basic-red);
}

.product-button:hover {
  background-color: var(--basic-extra-red-1);
}

.product-button:active {
  background-color: var(--basic-extra-red-2);
}

/* Переключатели карточек товаров */
.pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 11px 0 0; 
  font-weight: 500;
  border-radius: 3px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
}

.pagination-link {
  color: inherit;
}

.pagination-item:hover, .pagination-item:focus {
  background-color: var(--basic-extra-gray-3);
}

.pagination-item:active {
  color: rgba(0, 0, 0, 0.3); 
  background-color: var(--basic-extra-gray-4);
}

/* Не могу понять, почему не работает =( */
.pagination-item:visited {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-dark);
}

.pagination-link-next {
  width: 260px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
}

.pagination-link-next:hover {
  background-color: var(--basic-extra-gray-3);
}

.pagination-link-next:active {
  background-color: var(--basic-extra-gray-4);
  color: rgba(0, 0, 0, 0.3); 
}